body {
    font-family: Arial, sans-serif;
    background-color: #F78848;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #F5772E;
    border-radius: 10px;
}
 
.quiz-container {
    width: 60%;
    margin: 20px auto;
    background-color: #d96d2e;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}
 
.quiz-header {
    background-color: #af5826;
    color: white;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}
 
.quiz-box {
    height: 500px;
    padding: 10px;
    overflow-y: auto;
    max-height: 500px;
}
 
.question {
    padding: 15px;
    background: white;
    color: black;
    margin: 15px 0;
    border-radius: 5px;
    text-align: left;
}
 
.question-text {
    font-weight: bold;
}
 
.answer {
    display: block;
    margin: 5px 0;
    font-weight: normal;
}
 
.button-container {
    margin-top: 20px;
}
 
.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
 
.header {
    background-color: #F57023;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}